
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    table-layout: fixed;
    width: 10%;
}

.collapsible {
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    outline: none;
}

    .collapsible:after {
        content: '\002B';
        float: right;
        margin-left: 5px;
    }

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}
