.vs
design-patterns/.vscode/ipch
node_modules/
Debug/
obj/
bin/
*.exe
.gradle
.idea

# Cordova
my-cordova/**/platforms
my-cordova/**/plugins

# res
my-cordova/**/resources/signing

package-lock.json

react-dest
/js-notes/nbproject/private/